{% extends "core/dashboard.html" %}
{% block dashboard_content %}
{% load custom_filter %}




<table class="investment-details">
  <tr>
    <th>investment Details</th>
    <th>Values</th>
  </tr>
  <tr>
    <td>Amount</td>
    <td>₹ {{ investment.amount }}</td>
  </tr>
  <tr>
    <td>Interest Rate</td>
    <td>{{ investment.interest_rate }}%</td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td>{{ investment.start_date }}</td>
  </tr>
  <tr>
    <td>End Date</td>
    <td>{{ investment.end_date }}</td>
  </tr>
  <tr>
    <td>Interest</td>
    <td>₹ {{ investment.calculate_interest|floatformat:2 }}</td>
  </tr>
  <tr>
    <td>Interest added with investment amount</td>
    <td>₹ {{ total_amount|floatformat:2 }}</td>
  </tr>
</table>




{% endblock dashboard_content %}
