{% extends "core/dashboard.html" %}
{% block dashboard_content %}
{% load custom_filter %}




<table class="investment-details">
  <tr>
    <th>investment Details</th>
    <th>Values</th>
  </tr>
  <tr>
    <td>Amount</td>
    <td>₹ {{ investment.amount }}</td>
  </tr>
  <tr>
    <td>Interest Rate</td>
    <td>{{ investment.interest_rate }}%</td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td>{{ investment.start_date }}</td>
  </tr>
  <tr>
    <td>End Date</td>
    <td>{{ investment.end_date }}</td>
  </tr>
  <tr>
    <td>Interest</td>
    <td>₹ {{ investment.calculate_interest|floatformat:2 }}</td>
  </tr>
  <tr>
    <td>Interest added with investment amount</td>
    <td>₹ {{ total_amount|floatformat:2 }}</td>
  </tr>
</table>
<table>
<h4>Payments</h4>
<ul>
     {% for payment in payments %}
    <li>
        Payment Amount: ₹ {{ payment.amount }} - Date: {{ payment.payment_date }}
        <form method="post" action="{% url 'delete_payment' isection.id investment.id %}" onsubmit="return confirm('Are you sure you want to delete this payment?')">

            {% csrf_token %}
            <input type="hidden" name="payment_id" value="{{ payment.id }}">
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
</table>

<a href="{% url 'make_payment' isection.id investment.id %}" class="">Make Payment</a>




{% endblock dashboard_content %}
