{% extends "core/dashboard.html" %}

{% block dashboard_content %}
<div style="text-align: center; color: #ffffff;"> <!-- Set the font color to white for dark mode -->

  <!-- Display the total investment amount of all sections -->
  <div style="background-color: #FFA500; padding: 10px; border-radius: 5px; color: #333; margin-bottom: 20px;"> <!-- Dark yellow background and dark text color -->
    <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-right: 10px; color: #333;">account_balance</i>
    <h4 style="display: inline;">Investment Sections - Total Investment Amount: ₹{{ total_invest_amount_of_all_isections }}</h4>
  </div>

  <ul style="list-style-type: none; padding: 0; text-align: center;">
    {% for isection in isections %}
      <li style="margin: 10px; display: flex; justify-content: space-between; align-items: center; background-color: #FFA500; padding: 10px; border-radius: 5px;"> <!-- Dark green background and rounded corners -->
        <a href="{% url 'invest_list' isection.id %}" style="color: #ffffff; text-decoration: none;">
          <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-right: 10px; color: #ffffff;">account_balance</i>
          {{ isection.name }}
        </a>
        <form method="post" action="{% url 'isection_list' %}">
          {% csrf_token %}
          <input type="hidden" name="isection_id" value="{{ isection.id }}">
          <button type="submit" style="background-color: transparent; border: none; cursor: pointer; color: #ffffff;">
            <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-right: 10px; color: #ffffff;">delete</i> <!-- Delete icon -->
            Delete
          </button> <!-- Adjust button styles for dark mode -->
        </form>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'iadd_section' %}" style="color: #ffffff;">
    <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-right: 10px; color: #ffffff;">add</i> <!-- Add icon -->
    Add Investment Section
  </a> <!-- Set the font color to dark yellow for the "Add Investment Section" link -->
</div>
{% endblock %}
