{% extends "core/dashboard.html" %}

{% block dashboard_content %}
 <!-- Add this code to your HTML template where you want to display the total investment amount of all sections -->
₹{{ total_invest_amount_of_all_isections }} 

  <ul>
    {% for isection in isections %}
      <li>
        <a href="{% url 'invest_list' isection.id %}">{{ isection.name }}</a>
        <form method="post" action="{% url 'delete_section' isection.id %}" style="display: inline;">
          {% csrf_token %}
          <button class="delete-section-btn" data-isection-id="{{ isection.id }}">Delete Section</button>

        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'iadd_section' %}" class="btn btn-primary">Add Section</a>
{% endblock %}
