{% extends "core/dashboard.html" %}

{% block dashboard_content %}
  <h4 style="font-family: 'Roboto', sans-serif; color: #ffffff;">RD Sections</h4>

  {% for rdsection in rdsections %}
    <div class="rd-section" style="border: 1px solid #555; padding: 15px; margin-bottom: 15px; background-color: #333; color: #ffffff; font-family: 'Open Sans', sans-serif;">
      <a href="{% url 'rd_list' rdsection_id=rdsection.id %}" style="color: #ffffff; text-decoration: none;">
        <i class="fas fa-folder-open" style="margin-right: 10px;"></i>{{ rdsection.name }}
      </a>
      <form method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="rdsection_id" value="{{ rdsection.id }}">
        <button type="submit" style="color: #ffffff; background-color: transparent; border: none; cursor: pointer;">
          <i class="material-icons" style="font-size: 24px; vertical-align: middle; margin-right: 10px; color: #FFA500;">delete</i> <!-- Delete icon -->
          Delete
        </button>
      </form>
    </div>
  {% endfor %}

  <a href="{% url 'Radd_section' %}" style="color: #ffffff; text-decoration: none; font-family: 'Lato', sans-serif;">
    <button style="background-color: #3366cc; color: #ffffff; border: none; padding: 8px 12px; cursor: pointer;">
      <i class="fas fa-plus" style="margin-right: 5px;"></i> Add RD Section
    </button>
  </a>
{% endblock %}
