{% extends "core/dashboard.html" %}

{% block dashboard_content %}
<div style="text-align: center;">
    <h2>{{ form.instance.pk|default:"Create New Task" }}</h2>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
        </div>
        <div class="form-group">
            {{ form.due_date.label_tag }}
            {{ form.due_date }}
        </div>
        <div class="form-group">
            {{ form.completion.label_tag }}
            {{ form.completion }}
        </div>
        <div class="form-group">
            {{ form.notes.label_tag }}
            {{ form.notes }}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<style>
    /* Center align the form */
    form {
        text-align: left;
        margin: 0 auto;
        width: 50%;
    }

    /* Style the form fields and labels */
    .form-group {
        margin: 10px 0;
    }

    /* Style the "Save" button */
    .btn.btn-primary {
        color: #fff;
        background-color: #333;
        border: none;
        padding: 10px 20px;
    }
</style>
{% endblock %}
