{% extends "core/dashboard.html" %}

{% block dashboard_content %}
<div class="enquiry-list-container">
    <h4 class="enquiry-title">🔍 Enquiry List</h4>

    <div class="enquiry-list">
        {% for task in tasks %}
        <div class="enquiry-item">
            <div class="enquiry-header">
                <h3 class="enquiry-title">{{ task.title }}</h3>

            </div>
            <div class = "enquiry-item"><span class="enquiry-dates">Date: {{ task.start_date }} </span></div>
            <div class="enquiry-details">
                <p class="enquiry-notes"><strong></strong> {{ task.notes }}</p>

            </div>
            <div class="enquiry-actions">
                <a href="{% url 'edit_task' task.pk %}" class="enquiry-action edit-action">
                    Edit
                </a>
                <a href="{% url 'delete_task' task.pk %}" class="enquiry-action delete-action">
                    Delete
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="create-button">
        <a href="{% url 'create_task' %}" class="btn btn-dark">Create New Enquiry</a>
    </div>
</div>

<style>
    /* Styling for enquiry list */
    .enquiry-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .enquiry-title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .enquiry-list {
        width: 80%;
    }

    .enquiry-item {
        background-color: #000708;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px;
    }

    .enquiry-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .enquiry-details {
        margin-bottom: 10px;
    }

    .enquiry-notes {
        margin-bottom: 5px;
    }

    .enquiry-actions {
        text-align: right;
    }

    .enquiry-action {
        color: #333;
        text-decoration: none;
        margin-left: 10px;
    }

    .enquiry-action:hover {
        color: #FFA500;
    }

    .btn-dark {
        color: #ffffff;
        background-color: #333;
        border: 2px solid #00FF00;
        transition: background-color 0.3s ease;
    }

    .btn-dark:hover {
        background-color: #222;
    }
</style>
{% endblock %}
