{% extends "core/dashboard.html" %}

{% block dashboard_content %}
<div style="text-align: center;">
    <h10>{{ form.instance.pk|default:"Create New Task" }}</h10>
    
    <form method="post" style="display: inline;">
        {% csrf_token %}
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div>
            {{ form.due_date.label_tag }}
            {{ form.due_date }}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<style>
    /* Style the form */
    form {
        display: inline;
    }

    /* Style the form fields and labels */
    form div {
        margin: 10px 0;
    }

    /* Style the "Save" button */
    .btn.btn-primary {
        color: #fff;
        background-color: #333;
        border: none;
        padding: 10px 20px;
    }
</style>
{% endblock %}
