
{% extends "core/dashboard.html" %}

{% block dashboard_content %}
    <h4>Add Room</h4>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <input type="checkbox" id="available" name="available">
        <label for="available">Available</label><br>
        <input type="checkbox" id="unavailable" name="unavailable">
        <label for="unavailable">Unavailable</label><br>
        <input type="submit" value="Add Room">
    </form>

{% endblock %}
