<h1>Booking Detail</h1>

  <!-- Display booking details -->
  <p><strong>Booking ID:</strong> {{ booking.id }}</p>
  <p><strong>Check-in Date:</strong> {{ booking.checkin_datetime }}</p>
  <p><strong>Check-out Date:</strong> {{ booking.checkout_datetime }}</p>
  <p><strong>Rooms:</strong> {{ room_numbers }}</p>
  <p><strong>Total Price:</strong> {{ total_price }}</p>
  <!-- Add more details as needed -->

  <!-- Add a link to go back to the booking list -->
  <a href="{% url 'booking_list' %}">Back to Booking List</a>