{% extends "core/dashboard.html" %}
{% block dashboard_content %}
<div style="text-align: center;">
    <h4 style="color: #ffffff;">Income List</h4>
    <h5><p style="color: #ffffff;">Total Income: ₹ {{ total_income|default:"0.00" }}</p></h5>

    <table class="table table-bordered" style="background-color: #333; color: #ffffff;">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr>
                <td>{{ income.description }}</td>
                <td>₹ {{ income.amount }}</td>
                <td>{{ income.date }}</td>
                <td><a href="{% url 'delete_income' income.id %}" style="color: #ffffff;">Delete</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No income yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_income' incsection.id %}" style="color: #ffffff;">Add Income</a>
</div>

<style>
    .table {
        margin: 0 auto;
        width: 80%;
    }

    /* Style hyperlinks */
    a {
        text-decoration: none;
    }
</style>
{% endblock %}
