{% extends "core/dashboard.html" %}

{% block dashboard_content %}
<div style="text-align: center;">
    <h5 style="color: #ffffff;">Sections - Total Incomes: ₹ {{ total_income }}</h5>

    <div class="section-container">
        {% for incsection in incsections %}
        <div class="section-item">
            <div class="section-details">
                <a href="{% url 'income_list' incsection.id %}" style="color: #ffffff;">{{ incsection.name }}</a>
            </div>
            <div class="section-actions">
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete_incsection" value="{{ incsection.id }}">
                    <button type="submit" style="color: #ffffff;">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'add_incsection' %}" style="color: #ffffff;">Add Section</a>
</div>

<style>
    /* Style hyperlink text color and remove underlines */
    a {
        text-decoration: none;
        color: #ffffff; /* Font color for links */
    }

    /* Style the section items for dark mode */
    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        width: 80%;
    }

    .section-details a {
        color: #ffffff;
        text-decoration: none;
    }

    /* Style the "Delete" buttons */
    .section-actions button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ffffff;
    }
</style>
{% endblock %}
