{% extends "core/dashboard.html" %}

{% block dashboard_content %}
<div style="text-align: center;">
    <!-- Display the total loan amount -->
    <h4>Total Loan Amount: ₹{{ total_loan_amount_of_all_sections }}</h4>

    <table class="section-table">
        <thead>
            <tr>
                <th>Section Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr>
                    <td><a href="{% url 'loan_list' section.id %}" style="color: #333;">{{ section.name }}</a></td>
                    <td>
                        <form method="post" action="{% url 'delete_section' section.id %}" style="display: inline;">

                            {% csrf_token %}
                            <input type="hidden" name="delete_section" value="{{ section.id }}">

                            <button type="submit" style="color: #333;">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_section' %}" style="color: #333;" class="btn btn-primary">Add Section</a>
</div>

<style>
    /* Style hyperlink text color and remove underlines */
    a {
        text-decoration: none;
    }

    /* Style the section table */
    .section-table {
        width: 80%;
        border-collapse: collapse;
        margin: 20px auto;
    }

    .section-table th, .section-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .section-table th {
        background-color: #f2f2f2;
    }

    /* Style the "Add Section" button */
    .btn.btn-primary {
        color: #333;
    }
</style>
{% endblock %}
